:root {
    --main:#aa6228;
    --alt:#f0edea;
    --body:#71a340;
  }
*{
    margin:0;
    padding:0;
}



 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) { 
  
    
   
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  
 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   
 }
/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
 }
 /* XX-Large devices (larger desktops, 1400px and up) */
@media only screen and (min-width: 1400px), only screen and (min-width:1200px){ 
    .nav-bar-container{
        position: relative;
        overflow: hidden;
    }
    .navbar{
        width: 600px;
        height:140px;
        margin:0;
    }
    .navbar > *{
        z-index: 100;
    }
    .nav-link{
        margin-right:20px;
    }
    .navbar .navbar-brand{
        position: relative;
        top:-5px;
        left:160px;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-around;
        width: 500px;
        position: relative;
        top:-30px;
        left:500px;
    }
    .nav-link{
        padding: 0 16px;
  transition: opacity 0.3s;
    }
    .navbar-nav:hover .nav-link:not(:hover){
        opacity: 0.5;
    }
    .navbar image{
        position: relative;
        top:500px;
    }
    .navbar-nav li a{
        list-style: none;
        color:black;
       
    }
    .navbar-nav li a:hover{
        cursor: pointer;
    }
    .navbar::before{
    content:"";
    position: absolute;
    top: -5px;
    left: 0px;
    width: 70%;
    height: 140px;
    background-color: var(--alt);
    border-radius:0px 0px 100px 0px;
    box-shadow:0px 6px var(--main);
    z-index:1;
    }
    .navbar::after{
    content: " ";
    position: absolute;
    top:0px;
    left:413px;
    width: 250%;
    height:70px;
    background-color:var(--alt);
    box-shadow:0px 6px var(--main);
    z-index:1;
    }

    /* HOME_ROUTE */
    .Home{
        text-align: center;
        justify-content:center ;
        position: relative;
        bottom:0px;
    }
    .Home-container{
    padding: 90px;
    background-image:url("../assests/web\ pic\ paage\ 1.png");
    background-size: cover;
    position: relative;
   height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.center{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top:60px;
    margin: 0;
    padding: 0;
}
.main-content{
    position: relative;
    bottom: 185px;
}

.contactUs-container{

    height: 500px;
    padding:30px 10px 20px 10px;
    position: relative;
    margin:0 auto;
    background-color: white;
    background: rgba(255, 242, 242, 0.6);
    text-align: center;
    width:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

    border: 2px solid var(--main);
    border-radius: 25px;
    
}

.companyLogo-container{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.btn{
    margin-top:8px;
    padding:10px;
    width:200px;
    background-color:var(--body);
    color:black;
    border-radius: 25px;
}
.company-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--alt);
    height: 90rem;
}
.company-container .row{
position: relative;
    top:40px;

    width:80rem;
}
.header-container{
    width:900px;
    text-align: center;
    margin-top:50px;
}
.card{
    width:35rem;
    height:22rem;
    border-radius: 25px;
    padding:10px;
    margin-top:10px;
    margin-bottom:30px;
    align-items: center;
    text-align: center;
   
}
.card-img-top{
    width:6rem;
    height:6rem;
    color: var(--body);
    margin-bottom:10px;
}
.company-moto-list{
    list-style:triangle inside url("../assests/right-arrow-black-triangle\ .png");
    text-align: left;
    width:100%;

    margin-top:25px;
    position: relative;
    right:20px;
    
}
.company-moto-list li{
    font-size: 1.5rem;
    border-bottom: 1px solid black;
    margin-bottom:10px;
    padding:5px;
}
.company-service-list{
    text-align: left;
    width:100%;

    margin-top:25px;
    position: relative;
    
    top:-10px;
}
.company-service-list li{
    font-size: 1rem;
    border-bottom: 1px solid black;
    margin-bottom:10px;
    padding:5px;

    padding-top: 0;
}
.card-body{
    width:37rem;
    padding-left: 40px ;
    padding-right:40px;
}


.company-moto-list li:hover{
    cursor:cell;
    color:var(--body);
    transition-duration: 0.7s;
}
.sister-company{
    margin-top:60px;
}
.sister-company-image{
    margin-top:10px;
}
.work-with-bright{
    margin-top:20px;
}
.footer{
   
    
}
 }
 
