

    .nav-bar-container{
        position: relative;
        overflow: hidden;
    }
    .navbar{
        width: 600px;
        height:140px;
        margin:0 ;
    }
    .navbar > *{
        z-index: 100;
    }
    .navbar .navbar-brand{
        position: relative;
        top:-5px;
        left:160px;
    }
    .navbar-nav{
        display: flex;
        justify-content: space-around;
        width: 400px;
        position: relative;
        top:-30px;
        left:500px;
    }
    .navbar-nav li a{
        list-style: none;
        color:black;
    }
    .navbar-nav li a:hover{
        cursor: pointer;
    }
    .navbar::before{
    content:"";
    position: absolute;
    top: -5px;
    left: 0px;
    width: 70%;
    height: 140px;
    background-color: #f0edea;
    border-radius:0px 0px 100px 0px;
    box-shadow:0px 6px #aa6228;
    z-index:1;
    }
    .navbar::after{
    content: " ";
    position: absolute;
    top:0px;
    left:413px;
    width: 250%;
    height:70px;
    background-color:#f0edea;
    box-shadow:0px 6px #aa6228;
    z-index:1;
    }
    .navbar image{
        position: relative;
        top:500px;
    }
